# SPDX-FileCopyrightText: 2026 Thomas Ascher <thomas.ascher@gmx.at>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
Name=sdflens
Comment=View ISO 25178 SDF and x3p files
Exec=sdflens %f
Icon=sdflens
Terminal=false
Categories=Graphics;Viewer;
